{
    "repository": {
        "repositoryName": "sns-flask-app",
        "registryId": "949790903591",
        "createdAt": 1533486317.0,
        "repositoryUri": "949790903591.dkr.ecr.eu-central-1.amazonaws.com/sns-flask-app",
        "repositoryArn": "arn:aws:ecr:eu-central-1:949790903591:repository/sns-flask-app"
    }
}
