{
    "repository": {
        "repositoryArn": "arn:aws:ecr:eu-central-1:949790903591:repository/tpz-workshop",
        "repositoryName": "tpz-workshop",
        "registryId": "949790903591",
        "createdAt": 1535523683.0,
        "repositoryUri": "949790903591.dkr.ecr.eu-central-1.amazonaws.com/tpz-workshop"
    }
}
