{
    "repository": {
        "registryId": "949790903591",
        "repositoryName": "cpp-sim-battery",
        "repositoryArn": "arn:aws:ecr:eu-central-1:949790903591:repository/cpp-sim-battery",
        "createdAt": 1535523792.0,
        "repositoryUri": "949790903591.dkr.ecr.eu-central-1.amazonaws.com/cpp-sim-battery"
    }
}
